.awesome_title {
    padding-top: 64px;
    margin-bottom: 25px;
    text-align: center;
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
}
.awesome_subtitle {
    margin-top: 30px;
    margin-bottom: 67px;
    text-align: center;
    color: #86878B;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.blocks {
display: flex;
justify-content: center;
}
.awesome_block {
    /* display: inline-block; */
    margin-top: 32px;
    margin: auto;
    max-width: 350px;
    text-align: center;
    margin-bottom: 90px;
}
.awesome_cirlce {
    border: 1px solid #D98943;
    width:70px ;
    height: 70px;
    border-radius: 50%;
    margin: auto; 
    margin-bottom: 30px;
    display: flex;
  align-items: center;
  justify-content: center
}
.awesome_bloks-title {
font-size: 20px;
text-align: center;
margin-bottom: 16px;
font-family: 'Open Sans', sans-serif;
font-weight: 700;
}
.awesome_bloks-subtitle {
    font-size: 14px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}