.pricing {
    background-color: #F5F5F5;
    width: 100%;
}

.pricing_lists {
display: flex;
justify-content: space-around;
margin: 0 -15px;
flex-wrap: wrap;
}
.pricing_list_item {
    margin: 0 15px;
    width: 340px;
    margin-bottom: 80px;
}
.pricing_list-tariff {
    color: #FFFFFF;
    background-color: #333333;
    line-height: 50px;
    margin-bottom: 2px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}
.pricing_list-cost {
    color: #FFFFFF;
    background-color: #333333;
    line-height: 100px;
    margin-bottom: 2px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 35px;
    text-align: center;
}
.list3 {
    color:rgba(255, 255, 255, 0.5);
    background-color: #333333;
    line-height: 50px;
    margin-bottom: 2px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-align: center; 
}
.list4 {
    color: #86878B;
    background-color: #FFFFFF;
    line-height: 50px;
    margin-bottom: 2px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}
.list5 {
    color: #86878B;
    background-color: #FFFFFF;
    line-height: 50px;
    margin-bottom: 2px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}
.list6 {
    color: #86878B;
    background-color: #FFFFFF;
    line-height: 50px;
    margin-bottom: 2px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}
.list7 {
    color: #86878B;
    background-color: #FFFFFF;
    line-height: 50px;
    margin-bottom: 2px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}
.list8 {
    color: #86878B;
    background-color: #FFFFFF;
    line-height: 50px;
    margin-bottom: 2px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}
.list9 {
    color: #86878B;
    background-color: #FFFFFF;
    line-height: 50px;
    margin-bottom: 2px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}
.list1 {
    color: #FFFFFF;
    background-color: #333333;
    line-height: 50px;
    margin-bottom: 2px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}
.list2 {
    color: #FFFFFF;
    background-color: #333333;
    line-height: 100px;
    margin-bottom: 2px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 35px;
    text-align: center;
}
.optima_list3 {
    color:rgba(255, 255, 255, 0.5);
    background-color: #D98943;
    line-height: 50px;
    margin-bottom: 2px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-align: center;  
}
