.social {
    width: 100%;
    background-color: #F8EFEF;
}
.social_filling{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social_title {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    text-transform:capitalize;
    color: #333333;
    margin-top: 14px;
    margin-bottom: 14px;
}
.social_subtitle {
    font-size: 14px;
    font-weight: 100px;
    font-family: 'Open Sans', sans-serif;
    color: #86878B;
    margin-bottom: 14px;
    width: 365px;
}
.social_icons {
    display: flex;
    flex-direction: row;
}
.social_icons-item {
    color: #CCCCCC;
    font-size: 40px;
    display: inline-block;
    margin-left: 50px;
    transition: all 0.1s;
}
.social_icons-item:hover{
    color: #EC7979;
    transform: scale(1.2);
    transition-property: all 0.3s;
    transition-duration: 0.1s, 1s ;
    transition-delay: 0.1s;
}