@import url("../ﾑ《s/awesome.css");
@import url("../ﾑ《s/pricing.css");
@import url("../ﾑ《s/testimonials.css");
@import url("../ﾑ《s/axure.css");

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}
.conteiner {
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
}
.title {
    padding-top: 80px;
    margin-bottom: 34px;
    text-align: center;
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
}
.title::after {
    content: '';
    display: block;
    width: 64px;
    border: 1px solid #D98943;
    margin: 40px auto;
}
.subtitle {
    margin-top: 30px;
    margin-bottom: 62px;
    text-align: center;
    color: #86878B;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}


